repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: ^(src/qutip_qip/|tests/)
      - id: end-of-file-fixer
        files: ^(src/qutip_qip/|tests/)
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        files: ^(src/qutip_qip/|tests/)