name: Tests

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  cases:
    name: ${{ matrix.os }}, python${{ matrix.python-version }}, ${{ matrix.case-name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - case-name: qutip@5.0.0a1
            os: ubuntu-latest
            qutip-version: '==5.0.0a1'
            pyqir-version: ''
            python-version: '3.10'
          - case-name: qutip@qutip-4.7.X
            os: ubuntu-latest
            qutip-version: '@qutip-4.7.X'
            pyqir-version: ''
            python-version: '3.10'
          - case-name: qutip@master
            os: ubuntu-latest
            qutip-version: '@master'
            pyqir-version: ''
            python-version: '3.11'
          - case-name: qutip@4.6
            os: windows-latest
            qutip-version: '==4.6.*'
            qiskit-version: ''
            pyqir-version: ''
            python-version: '3.8'
          - case-name: qutip@4.7
            os: macOS-latest
            qutip-version: '==4.7.*'
            qiskit-version: ''
            pyqir-version: ''
            python-version: '3.9'
          - case-name: qiskit+qir
            os: windows-latest
            qutip-version: ''
            qiskit-version: '==0.36.*'
            pyqir-version: '==0.6.2'
            python-version: '3.8'
          - case-name: qiskit+qir
            os: macOS-latest
            qutip-version: ''
            qiskit-version: '==0.36.*'
            pyqir-version: '==0.6.2'
            python-version: '3.9'
          - case-name: qiskit+qir
            os: ubuntu-latest
            qutip-version: ''
            qiskit-version: '==0.36.*'
            pyqir-version: '==0.6.2'
            python-version: '3.7'

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install QuTiP from PyPI
      if: ${{ matrix.qutip-version != '' && ! startsWith( matrix.qutip-version, '@') }}
      run: python -m pip install 'qutip${{ matrix.qutip-version }}'

    - name: Install QuTiP from GitHub
      if: ${{ startsWith( matrix.qutip-version, '@') }}
      run: |
        python -m pip install 'git+https://github.com/qutip/qutip.git${{ matrix.qutip-version }}'

    # For qutip-v5 qutip.control is replaced by qutip-qtrl
    - name: Install qutip-qtrl from PyPI
      if: ${{ matrix.qutip-version == '@master'}}
      run: |
        python -m pip install 'git+https://github.com/qutip/qutip-qtrl.git'

    - name: Install Qiskit from PyPI
      if: ${{ matrix.qiskit-version != '' }}
      run: python -m pip install 'qiskit${{ matrix.qiskit-version }}'

    - name: Install PyQIR from PyPI
      if: ${{ matrix.pyqir-version != '' }}
      # We use each subpackage explicitly here; see https://github.com/qir-alliance/pyqir/issues/167.
      run: python -m pip install 'pyqir-generator${{ matrix.pyqir-version }}' 'pyqir-parser${{ matrix.pyqir-version }}'

    - name: Install qutip-qip
      # Installing in-place so that coveralls can locate the source code.
      run: |
        pip install -e .[full]
    - name: Test with pytest and generate coverage report
      run: |
        pip install pytest-cov coveralls
        pytest tests --strict-markers --cov=qutip_qip --cov-report= --color=yes
    - name: Upload to Coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}
        COVERALLS_PARALLEL: true
      run: coveralls --service=github

  doctest:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -mpip install -r doc/requirements.txt
        pip install .
    - name: Test code snippets in the documentation
      run: |
        cd doc
        make doctest
    - name: Test code examples for the pulse paper
      run: |
        python -m pip install joblib pytest pytest-custom_exit_code
        cd doc/pulse-paper
        pytest *.py --suppress-no-test-exit-code

  finalise:
    name: Finalise coverage reporting
    needs: [cases]
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
      - name: Finalise coverage reporting
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
        run: |
          python -m pip install coveralls
          coveralls --service=github --finish
