name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.6, 3.9]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest numpy scipy cython
        pip install git+https://github.com/qutip/qutip.git
        pip install .
    - name: Test with pytest
      run: |
        pytest tests --strict-markers

  doctest:
    runs-on: ubuntu-latest
        
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install numpy scipy cython sphinx matplotlib numpydoc sphinx_rtd_theme pytest
        pip install qutip
        pip install .
    - name: Test code snippets in the documentation
      run: |
        cd docs
        make doctest
    - name: Test code examples for the pulse paper
      run: |
        pytest paper/*.py
